body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d3cece;
}

h1 {
    font-size: 2em;
    color: #0f0f0f;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: #1b1b1b;
}

p {
    font-size: 1em;
    color: #222121;
}

#zoekmachine-container{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-container{
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #555555;
}